*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    /* max-width: 1920px; */
    font-family: Work Sans;
}

/* Navbar style start */
.navbar{
    width:100%;
    height: 7rem;
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 

}
.nav-icon{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 240px;
}
.nav-icon p{
    font-family: Work Sans;
    font-size: 2.5em;
    font-weight: 700;
    padding-left: 20px;
}
.G{
    color: #FF42A5;
}
.navigation{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 240px;
}
.navigation ul{
    list-style: none;
    display: flex;
}
.navbar ul a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125em;
    font-weight: 500;
    padding: 0 1em; 
}
.Follow-us{
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

/* Navbar style End */


/* banner style start */
.banner{
    height: 35rem;
    display: flex;
    justify-content: space-between;

}
.contant{
    background-image: url("images/Group\ 14.png");
    padding: 150px 240px 150px 240px;
}
.contant>h3{
    color: #0B0223;
    font-size: 2.725em;
    font-weight: 600;
}
.contant>h1{
    color: #8758F1;
    font-size: 5.5em;
    font-weight: 800;
}
.intro{
    color: #534C64;
    font-size: 1.125em;
    font-weight: 500;

}
.button1, .button2{
    color: #FFF;
    font-size: 1.125em;
    font-weight: 600;
    margin: 40px 20px 20px 0px;
    padding: 18px 40px;
    border-radius: 20px;
}
.button1{
    background-color: #FF42A5;
}
.button2{
    background-color: #4EC5F7;
}
.picture{
    padding: 20px 240px 0px 60px;
}
/* banner style end */



/* main section */
main{
    max-width: 1440px;
    margin: 0px auto;
}


/* online-game section style start */
.online-game{
    margin-top: 50px;
}
.card-contant{
    margin: 50px auto;
    text-align: center;    
}
.card-title{
    color: #0B0223;
    font-size: 2.725em;
    font-weight: 700;
    padding: 20px;
}
.funny-video{
    color: #F948B2;
}
.card-parent{
    display: flex;
    gap: 25px;
}
.card{
    text-align: left;
}
/* online-game section style end */



/* play instantly  start*/
.play-instantly{
    margin-top: 200px;
    display: flex;

}
.play-instantly-contant{
    margin: 100px auto;
    text-align: left;

}
.play-instantly-title{
    font-size: 2.725em;
    font-weight: 700;
    padding: 50px 0px;
}
.pic1{
    margin-left: 100px;
}
.pic2{
    position: relative;
    bottom: 250px;
}
/* play instantly  close*/


/* icon-card-section style start */
.icon-card-section{
    margin: 50px auto;
}
.section1{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 10px;
}
.section2{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 80px;
}
.icon-card{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}
.icon-card:hover{
    background-color: #FF42A5;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

/* icon-card-section style end */

/* footer */
/* footer style start */
.footer{
    background-color: #0B0223;
    color: #FFF;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.footer-title{
    padding: 120px 0px 25px 0px;
    font-size: 48px;
    font-weight: 800;
}

span{
    color: #FF42A5;
}

.icon{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.about, .Terms-Condi{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.about a{
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    padding: 2em;
}
.Terms-Condi a{
    text-decoration: none;
    color: #FF42A5;
    font-size: 1.125em;
    padding: 2em;
}


.copyrights{
    padding: 50px 0px 50px ;
    font-size: 1em;
}

/* footer end */




@media screen and (max-width: 576px) {

    .navbar, .banner, .card-parent, .play-instantly{
        flex-direction: column;
    }
    .nav-icon{
        width: 100%;
    }
    .card-parent{
        gap: 20px;
    }
    
}