*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    /* max-width: 1920px; */
    font-family: Work Sans;
}


/* Navbar style start */
.navbar{
    width:100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    padding: 0em 12em;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo .text{
    font-family: Work Sans;
    font-size: 2.5em;
    font-weight: 700;
    padding-left: 20px;
}
.G{
    color: #FF42A5;
}
.navigation{
    display: flex;
}
.navigation ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar ul a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125em;
    font-weight: 500;
    padding: 0em 1em; 
}
.Follow-us{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5em 0em;
    border-radius: 10px;
    background-color: rgba(11, 2, 35, 0.10);
}
/* Navbar style End */



/* banner style start */
.banner{
    display: flex;
    justify-content: space-between;
}
.contant{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    padding: 7em 12em;
}
.contant>h3{
    color: #0B0223;
    font-size: 2.725em;
    font-weight: 600;
}
.contant>h1{
    color: #8758F1;
    font-size: 5.5em;
    font-weight: 800;
}
.intro{
    color: #534C64;
    font-size: 1.125em;
    font-weight: 500;
}
.button1, .button2{
    color: #FFF;
    font-size: 1.125em;
    font-weight: 600;
    margin: 40px 20px 20px 0px;
    padding: 18px 40px;
    border-radius: 20px;
}
.button1{
    background-color: #FF42A5;
}
.button2{
    background-color: #4EC5F7;
}
.picture{
    padding: 20px 240px 0px 60px;
}
/* banner style end */



/* main section */
main{
    max-width: 1440px;
    margin: 0px auto;
}


/* online-game section style start */
.online-game{
    margin-top: 3em;
}
.card-contant{
    margin: 50px auto;
    text-align: center;    
}
.card-title{
    color: #0B0223;
    font-size: 2.725em;
    font-weight: 700;
    padding: 1.125em;
}
.funny-video{
    color: #F948B2;
}
.card-parent{
    display: flex;
    gap: 1.5em;
}
.card{
    text-align: left;
}
/* online-game section style end */


/* play this game  start*/
.play-this{
    margin-top: 10em;
    display: flex;
}
.play-this-contant{
    margin: 100px auto;
    text-align: left;
}
.play-this-title{
    font-size: 2.725em;
    font-weight: 700;
    padding: 50px 0px;
}
.play-this-title>span{
    color: #FF42A5;
}
.pic1{
    margin-left: 100px;
}
.pic2{
    position: relative;
    bottom: 250px;
}
/* play this game  close*/


/* icon-card-section style start */
.icon-card-section{
    margin: 50px auto;
}
.section1{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 10px;
}
.section2{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 80px;
}
.icon-card{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}
.icon-card:hover{
    background-color: #FF42A5;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
/* icon-card-section style end */


/* footer style start */
.footer{
    background-color: #0B0223;
    color: #FFF;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.footer-title{
    padding: 120px 0px 25px 0px;
    font-size: 48px;
    font-weight: 800;
}
span{
    color: #FF42A5;
}
.icon{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.about, .Terms-Condi{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.about a{
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    padding: 2em;
}
.Terms-Condi a{
    text-decoration: none;
    color: #FF42A5;
    font-size: 1.125em;
    padding: 2em;
}
.copyrights{
    padding: 50px 0px 50px ;
    font-size: 1em;
}
/* footer end */



@media screen and (max-width: 576px) {

 /* Navbar style start */
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em 0em;
        height: min-content;
        gap: 1em;
    }
    .nav-logo img{
        height: 1.5em;
    }
    .nav-logo .text{
        font-family: Work Sans;
        font-size: 1.5em;
    }
    .navigation ul{
        font-size: 0.75em;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .Follow-us{
        padding: .25em 0em;
    }
 /* Navbar style end */

/* banner style start */
    .banner{
        flex-direction: column;
        justify-content: center;
    }
    .contant{
        background-size: contain;
        padding: 1em 1em;
        margin: 2em 2em;
    }
    .contant>h3{
        font-size: 1em;
        font-weight: 600;
    }
    .contant>h1{
        font-size: 2.5em;
        font-weight: 800;
    }
    .intro{
        margin-top:1em ;
        font-size: .75em;
    }
    .button1, .button2{
        font-size: 1em;
        border-radius: 10px;
        border: none;
        padding: .5em .5em;
        margin: 1em 0em;
    }
    .picture img{
        width: 50vh;
        margin: 0em 0em;
    }
 /* banner style end */


/* online-game section style start */
    .card-title{
        font-size: 1.75em;
        padding: .5em;
    }
    .card-parent{
        flex-direction: column;
        margin: 0em 4.5em;
    }
    .card img{
        width: 40vh;
    }
/* online-game section style end */


/* play instantly  start*/
    .play-this{
        flex-direction: column;
        justify-content: center;
        margin:0em 2em ;
    }
    .play-this-title{
        font-size: 2em;
    }
    .pic1 img{
        width: 40vh;
    }
    .pic2 img{
        width: 20vh;
    }
    .pic2{
        bottom: 5.5em;
        left: 3em;
    }
/* play instantly end*/


/* footer */
    .footer-title, img{
        font-size: 2em;
    }
    .about, .Terms-Condi{
        flex-direction: column;
        padding: 1em;
        gap: .75em;
        font-size: .8em;    
    }
   
    .copyrights{
        /* padding: 50px 0px 50px ; */
        margin: 0em 2em;
        font-size: .7em;
    }

}